In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# importing necessary packages

In [8]:
filepath = '/Users/vaibhavjha/wrangling/data/sharks.csv'
sharks = pd.read_csv(filepath, low_memory = False)

# reading in the file

In [9]:
sharks.head()
#sharks.shape

# getting feel for size, rows, columns

,index,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,...,Unnamed: 246,Unnamed: 247,Unnamed: 248,Unnamed: 249,Unnamed: 250,Unnamed: 251,Unnamed: 252,Unnamed: 253,Unnamed: 254,Unnamed: 255
0,0,2020.02.05,05-Feb-2020,2020.0,Unprovoked,USA,Maui,NaN,Stand-Up Paddle boarding,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2020.01.30.R,Reported 30-Jan-2020,2020.0,Provoked,BAHAMAS,Exumas,NaN,Floating,Ana Bruna Avila,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2020.01.17,17-Jan-2020,2020.0,Unprovoked,AUSTRALIA,New South Wales,Windang Beach,Surfing,Will Schroeter,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2020.01.16,16-Jan-2020,2020.0,Unprovoked,NEW ZEALAND,Southland,Oreti Beach,Surfing,Jordan King,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2020.01.13,13-Jan-2020,2020.0,Unprovoked,USA,North Carolina,"Rodanthe, Dare County",Surfing,Samuel Horne,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
sharks.loc[1:10, ('Location', 'Name', 'Activity')]

# searching with loc, uses locator class

sharks.iloc[9:19, 1:4]

# searching with iloc[], uses integer locator class method

     Case Number         Date    Year
9     2020.01.02  02-Jan-2020  2020.0
10    2019.12.30  30-Dec-2019  2019.0
11    2019.12.28  28-Dec-2019  2019.0
12  2019.12.26.b  26-Dec-2019  2019.0
13  2019.12.26.a  26-Dec-2019  2019.0
14    2019.12.24  24-Dec-2019  2019.0
15    2019.12.21  21-Dec-2019  2019.0
16    2019.12.20  20-Dec-2019  2019.0
17    2019.12.12  12-Dec-2019  2019.0
18    2019.12.06  06-Dec-2019  2019.0

In [11]:
sharks.loc[:,'Fatal (Y/N)']
sharks = sharks.rename(columns = {'Fatal (Y/N)':'Fatal'})
sharks.loc[:,'Fatal']

0       N
1       N
2       N
3       N
4       N
       ..
6457    Y
6458    Y
6459    Y
6460    Y
6461    Y
Name: Fatal, Length: 6462, dtype: object

In [12]:
sharks.dtypes
sharks['Type'].unique()

array(['Unprovoked', 'Provoked', 'Questionable', 'Watercraft',
       'Unconfirmed', 'Unverified', 'Invalid', 'Under investigation',
       'Boating', 'Sea Disaster', nan, 'Boat', 'Boatomg'], dtype=object)

In [19]:
url = 'http://www.vcsc.virginia.gov/pretrialdataproject/October%202017%20Cohort_Virginia%20Pretrial%20Data%20Project_Deidentified%20FINAL%20Update_10272021.csv'
df = pd.read_csv(url,low_memory=False)
df.columns # Read in Virginia trial data

Index(['InternalStudyID', 'REQ_REC#', 'Defendant_Sex', 'Defendant_Race',
       'Defendant_BirthYear', 'Defendant_Age', 'Defendant_AgeGroup',
       'Defendant_AgeatCurrentArrest', 'Defendant_AttorneyTypeAtCaseClosure',
       'Defendant_IndigencyStatus',
       ...
       'NewFelonySexualAssaultArrest_OffDate',
       'NewFelonySexualAssaultArrest_ArrestDate',
       'NewFelonySexualAssaultArrest_DaysBetweenContactEventandOffDate',
       'NewFelonySexualAssaultArrest_DaysBetweenOffDateandArrestDate',
       'NewFelonySexualAssaultArrest_DaysBetweenReleaseDateandOffDate',
       'NewFelonySexualAssaultArrest_Disposition',
       'Intertnalindicator_ReasonforExcludingFromFollowUpAnalysis',
       'CriminalHistoryRecordsReturnedorCMSRecordsFoundforIndividual',
       'DispRecordFoundforChargesinOct2017Contact_Atleast1dispfound',
       'CrimeCommission2021ReportClassificationofDefendants'],
      dtype='object', length=709)

In [20]:
# Missing data

var = 'Defendant_Age'
print(df[var].unique())
# In social science, every interesting problem is fundamentally a missing data issue.
# In Pandas, there are two options for representing missing values
# - the default is to treat it as an np.nan from the NumPy package ('not a number') and its type is a float
# - Pandas also treats a missing value as a None: an empty/null object without a type or value

['31' '60' '27' '28' '39' '35' '18' '21' '66' '25' '38' '22' '40' '48'
 '34' '37' '20' '54' '46' '58' '55' '51' '24' '32' '30' '36' '26' '43'
 '56' '49' '19' '50' '52' '41' '29' '33' '42' '53' '44' '59' '45' '23'
 '63' '57' '47' '61' '78' '65' '67' '64' '62' '74' '68' '70' '69' '80'
 '75' '77' '73' '71' '72' ' ' '79' '81' '85' '100' '82' '76' '83' '93' '0'
 '99' '84' '87' '86' '92' '88']